

.about__wrapper{
    position: relative;
}
.about__color{
    position: absolute;
    z-index: -1;
}
.about__title{
    padding-top: 4%;
    padding-left: 19%;
}
.about__text{
    padding-left: 22%;
}
